*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body
{
    /*margin: 0px;*/
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a
{
    text-decoration: none; /* ”бираем подчеркивание у ссылок */
    display: block;
    /*height: 100%;*/
    cursor: pointer;
}

img
{
    border: none; /* без обводки картинки в ссылке */
}

.clear
{
    clear: both;
}

.substrate_header
{
    width: 100%;
    height: 130px;
} 

.header
{
    padding-top:30px;
    padding-bottom: 30px;
    z-index: 500;
}

.container
{
    width: 980px;
    margin: 0 auto;
}

.fix_block
{
    width: 100%;
    position: fixed;
    background: white;
}

.menu
{
    float: left;
    border: none;
    line-height: 1.7em;
    /*background: transparent url(img/toggle.png) 0 0 no-repeat;*/
    background-image: url(img/toggle.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: white;
    background-size: cover;
    margin-right: 10px;
}

.logo_page
{
    float: left;
    text-transform: uppercase;
    color: #000;
    font-family: Roboto;
    font-size: 19px;  
}

.login
{
    color: #000;
    font-size: 14px;  
    font-family: Roboto;
    background-image: url(img/lock.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 19px;
    float: right;
}

.shadow_box
{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
}

.header_list
{
    display: inline-block;
    list-style: none;
}

.header_item
{
    display: inline-block;
    margin: 0 30px;
    padding: 15px 0;
}

.header_item:hover
{
    list-style-position: inside;
    border-bottom: 2px solid #0072ff;
    padding-bottom: 13px;
}

.header_item_first
{
    margin-left: 0;
}

.list_link
{
    color: #000;
    font-size: 14px;
}

.banner
{
    height: 527px;
    width: 100%;
    background: #e37171;
    padding-top: 73px;
}

.banner_image
{
    background-image: url(img/site_and_doc.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}

.main_capabilities
{
    height: 300px; 
    /*background: white; */
    padding-top: 50px;
    margin-bottom: 50px;

    
}

.main_capabilities_caption
{
    width: 390px;
    font-size: 38px;
    color: #fff;
    margin-bottom: 30px;
}

.main_capabilities_description
{
    width: 406px;
    font-size: 22px;
    color: #fff;
    
}

.capabilities
{
    width: 270px;
    padding-left:30px;
    margin-right: 20px;
    float: left;
}

.capabilities_last
{
    margin-right: 0;
}


.caption_capabilities
{
    font-size: 18px;
    color: #FFF;
    margin-bottom: 10px;
}

.text_capabilities
{
    font-size: 12px;
    color: #FFF;
}

.icon_doc
{
    background-image: url(img/docs.png);
    background-repeat: no-repeat;
}

.icon_pen
{
    background-image: url(img/pen.png);
    background-repeat: no-repeat;
}

.icon_medal
{
    background-image: url(img/medal.png);
    background-repeat: no-repeat;
}

.browser_support
{
    height: 247px;
    padding: 66px;
    text-align: center;
    color: #000;
}

.text_caption
{
    font-size: 30px;
} 

.text_description
{
    font-size: 18px;
    color: #3d3d3d;
    margin-bottom: 40px;
}

.browser_icons_row
{
    margin: 0 auto;
    width: 550px;
}

.browser_icon
{
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 25px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 4px;
    
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
}

.browser_icon:hover
{
    -webkit-box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
    box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
}

.chrome_icon
{
    background-image: url(img/chrome.png);
}

.ie_icon
{
    background-image: url(img/ie.png);
}

.opera_icon
{
    background-image: url(img/opera.png);
}

.yandex_icon
{
    background-image: url(img/yandexBrowser.png);
}

.safari_icon
{
    background-image: url(img/safari.png);
}

.tariff_block
{
    background: #f4f5f7;
    padding-top: 70px;
    text-align: center;
}

.tariff_row
{
    padding-top: 30px;
    padding-bottom: 160px;
} 

.tariff_row:first-child 
{
    margin-left: 0px;
}

.tariff_row:last-child 
{
    margin-right: 0px;
}

.tariff_info
{
    height: 400px;
    width: 185px;
    background: #fff;
    border-top: 10px solid #000;
    float: left;
    margin-right: 10px;
    
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
}

.tariff_info:hover
{
    border-color: #3cce9e;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
    box-shadow: 0px 4px 10px 0px rgba(60, 206, 158, 1);
}


h3.tariff_caption
{
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4.tariff_value
{
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5.tariff_description
{
    font-size: 12px;
    width: 182px;
    padding-bottom: 20px;
}

h2.tariff_price
{
    color: #e56f6e;
    font-size: 30px;
    padding-bottom: 5px;
}

h3.tariff_cost
{
    color: #e56f6e;
    font-size: 24px;
    padding-bottom: 5px;
}

.gray_border
{
    border-color: #9a9a9a;
}

.pink_border
{
    border-color: #e97574;
}

.green_border
{
    border-color: #54af4a;
}

.blue_border
{
    border-color: #1e7ef9;
}

.red_border
{
    border-color: #ef2524;
}


footer
{
    height: 197px;
    background: #444444;
    padding-top: 48px;
}

.footer_text
{
    font-size: 18px;
    color: #fff;
    float: left;
}

.footer_list
{
    display: inline-block;
    list-style: none;
    float: right;
}

.footer_item
{
    display: inline-block;
    margin-left: 50px;
}